name: ci
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.22'
    - run: go version
    - run: go install github.com/mattn/goveralls@latest
    - run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
    - run: |
        make test
        make lint
        make
        make build/linux/e2e
        IMAGE=es-operator VERSION=local make build.docker
    - run: goveralls -coverprofile=profile.cov -service=github
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # run e2e
    - uses: engineerd/setup-kind@v0.5.0
      with:
        version: "v0.11.0"
        skipClusterCreation: "true"
    - name: e2e tests
      run: |
        ./.github/workflows/kind-with-registry.sh
        docker tag es-operator:local localhost:5000/es-operator:local
        docker push localhost:5000/es-operator:local

        ./.github/workflows/run_e2e.sh
    - name: documentation tests
      run: |
        grep '^kubectl apply' docs/GETTING_STARTED.md | sh
        for i in {1..10}; do kubectl -n es-operator-demo get all ; echo '========='; if kubectl -n es-operator-demo get sts es-data-simple | grep '1/1'; then echo 'SUCCESS' ; exit 0 ; fi ; sleep 60 ; done; exit 1
